---
---
@import 'main';

#sidebar-bottom {
  justify-content: center !important;
  display: flex !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

#sidebar-bottom a {
  margin: 0 10px;
}