---
---
@import 'main';

#sidebar .sidebar-bottom {
  padding-left: 0 !important;
  padding-right: 0 !important;
  justify-content: center !important;
  display: flex !important;
}

#sidebar .sidebar-bottom a {
  margin: 0 0.5rem !important;
  padding: 0 !important;
}